@import './scss/navbar';
@import './scss/head';
@import './scss/typed';
@import './scss//svg';
@import './scss//infosection';
@import './scss/footer';

html, body, #root {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: rgba(107, 77, 241, 0.836);
}