.container-info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    & > .col-info-card{
        width: 280px;
    }
}

.col-card > h1{
    font-family: 'Anton', sans-serif;
    display: flex;
    justify-content: center;
}

.col-card > p{
    color: white;
    font-family: 'Poiret One', cursive;
    font-size: 1.15rem;
    text-align: justify;
}